{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorization</title>
</head>
<body>
    <div class="container">
        <h1>Здарова епта</h1>
        <form method="post">
            {% if errors %}
            <div class="alert">
                {{ errors }}
            </div>
            {% endif %}
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Сохранить</button>
         </form>
    </div>
</body>
</html>